* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* This following line makes sure the stroke is complete */
  stroke-linecap: square;
}

/* ONLY NEEDED CAUSE WE HAVE TO FILL A MASK TOO */
/* DON'T ADD THIS IF YOUR SVG HAS NO MASK */
/* WAIT FOR THE ANIMATION TO FILL THE MASK (7.6s in this case) */
#path-1-outside-1 {
  animation: fill 0s ease forwards 7.6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
